<div class="window">
  <div class="up-win">
    <div class="heading">
      <div *ngFor="let val of listLetters; let i = index">
        <h1><span id="s-{{i}}">{{ val }}</span></h1>
      </div>

    </div>
    <div class="description">
      <h2><span>Вы находитесь на разработанном мною сайте, на нем будут распологаться все мои разработки</span></h2>
    </div>
  </div>
  <div class="down-win">
    <div class="items" *ngFor="let i of items">
      <app-card></app-card>
    </div>
  </div>
</div>