/* You can add global styles to this file, and also import other style files */

body,
* {
    // height: 100%;
    // background: rgb(234 241 187 / 61%);
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(143, 128, 174, 0.466);
}

@font-face {
    // название шрифта(чтобы не запутаться лучше указать название папки со шрифтом) 
    font-family: "MagnoliaScript";
    // адрес шрифта и тип 
    src: url("./assets/fonts/Magnolia\ Script.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

span {
    white-space: pre-wrap;
}